	*{margin:0;padding:0;
	box-sizing:border-box;}
	
	img{vertical-align:bottom;}
	
	.box{text-align:center;
	margin:0 auto;
	padding:60px 10%;}
	
	.box_1{text-align:center;
	margin:0 auto;
	margin-bottom:50px;}
	
	.grand{width:80%;
	overflow:hidden;
	margin:0 auto;
	margin-bottom:50px;}
	
	.grand img{width:100%;
	padding:10px;}
	
	.mom_1{width:50%;
	float:left;
	text-align:center;
	margin:0 auto;}
	
	.mom_2{width:50%;
	float:left;
	text-align:center;
	margin:0 auto;}
	
	.mom_3{width:33.333%;
	float:left;
	text-align:center;
	margin:0 auto;}
	
	.mom_4{width:33.333%;
	float:left;
	text-align:center;
	margin:0 auto;}
	
	.mom_5{width:33.333%;
	float:left;
	text-align:center;
	margin:0 auto;}
	
	.box1{width:100%;
	height:2089px;
	background:#f7f6b6;
	text-align:center;
	margin:0 auto;
	padding:20px;
	overflow:hidden;}
	
	.box_3{text-align:center;
	margin:0 auto;
	padding:60px 10%;}
	
	.box_4{text-align:center;
	margin:0 auto;
	margin-bottom:100px;}
	
	/* grand top item start*/
	
	.grand01 {
	width: 80%;
	overflow: hidden;
	}

	
	/* grand top item end*/
	
	/* grand bottom item start */
	
	.box2{width:70%;
	overflow:hidden;
	text-align:center;
	margin:0 auto;
	border: 1px solid black;}
	
	.item_6{width:33.333%;
	height:601.82px;
	float:left;
	text-align:center;
	margin:0 auto;}
	
	.item_7{width:33.333%;
	height:601.82px;
	float:left;
	text-align:center;
	margin:0 auto;}
	
	.item_8{width:33.333%;
	height:601.82px;
	float:left;
	text-align:center;
	margin:0 auto;}
	/* grand bottom item end */
	
	